.page-header {
	text-align: center;
	color: orange;
}

.page-footer {
	font-style:italic;
	text-align:center;
}

a:link {
    color: green;
}

a:visited {
    color: orange;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}