.page-header {
	text-align:center;
	color:orange;
}

.page-footer {
	font-style:italic;
	text-align:center;
}
nav li a:hover {
	font-style: bold;
}
nav li a:visited {
	color:cyan;
}
nav li a:active {
	text-decoration: none;
}
nav li {
	text-align: center;
	float: left;
	text-decoration: none;
}